body{
    background-color: lightgrey;
}

.titleDiv{
    border-style: solid;
    border-radius: 25px;
    background-color: white;
    width: 600px;
    height: 150px;
    padding-top: 50px;
    display: inline-block;
}
.infoDiv{
    border-style: solid;
    border-radius: 25px;
    background-color: white;
    float: right;
    width: 680px;
    height: 170px;
    position: fixed;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.formatDiv2{
    width: 1350px;
}

.formatDiv{
    height: 100%;
    width: 10000px;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.timelineDiv{
    border-style: solid;
    border-radius: 25px;
    background-color: white;
    width: 13900px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.titleText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.authorText{
    font-family: Arial, Helvetica, sans-serif;
}

.infoDivTitle{
    font-family: Arial, Helvetica, sans-serif;
}

.infoDivContent{
    font-family: Arial, Helvetica, sans-serif;
}

.timelineLabels{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: green;
}

.invisibleButton{
    background-color: white;
    width: 12190px;
}

.hadeanButton{
    background-color: #f44336;
    width: 1800px;
}

.archeanButton{
    background-color: #ff8c00;
    width: 4500px;
}

.proterozoicButton{
    background-color: #daa520;
    width: 5880px;
}

.phanerozoicButton{
    background-color: DarkGreen;
    width: 1623px;
}


.paleozoicButton{
    background-color: OliveDrab;
    width: 870px;
}

.mesozoicButton{
    background-color: OliveDrab;
    width: 558px;
}

.cenozoicButton{
    background-color: OliveDrab;
    width: 190px;
}

.cambrianButton{
    background-color: DarkKhaki;
    width: 160px;
}

.ordovicianButton{
    background-color: DarkKhaki;
    width: 120px;
}

.silurianButton{
    background-color: DarkKhaki;
    width: 75px;
}

.devonianButton{
    background-color: DarkKhaki;
    width: 180px;
}

.carboniferousButton{
    background-color: DarkKhaki;
    width: 180px;
}

.permianButton{
    background-color: DarkKhaki;
    width: 135px;
}

.triassicButton{
    background-color: DarkKhaki;
    width: 150px;
}

.jurassicButton{
    background-color: DarkKhaki;
    width: 168px;

}

.cretaceousButton{
    background-color: DarkKhaki;
    width: 235px;
}

.paleogeneButton{
    background-color: DarkKhaki;
    width: 110px;

}

.neogeneButton{
    background-color: DarkKhaki;
    width: 50px;
}

.quaternaryButton{
    background-color: DarkKhaki;
    width: 5px;
}
