/* NAVIGATION BAR */
.topnav {
    width: 100%;
    background-color: white;
    display:inline-block;
    text-align: center;
}

/* Style the navigation bar tabs */
.topnav a {
    width: 10%;
    font-family: Georgia, serif;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display:inline-block;
}

/* Underline text on hover */
.topnav a:hover {
    text-decoration: underline;
}

/* Underline the active/current link*/
.topnav a.active {
    text-decoration: underline;
}












.profilepic {
    width: 35%;
    height: 300px;
    text-align: center;
    background-color: LightGrey;
    display:inline-block;
    outline-style: dashed;
    outline-color: Grey;
    outline-width: 1px;
    color: Grey;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 16px;
    line-height: 1.5;
}

.center {
    margin: auto;
    width: 30%;
    text-align: left;
    text-indent: 60px;
    line-height: 1.7;
}

.content {
    text-align: center;
    font-size: 18px;
}











ul {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 5em;
}
